body {
  font-family: 'Roboto', sans-serif;
}

.custom-grid {
  max-width: 800px;
  justify-content: center;
}

.page-content {
  padding: 25px;
  height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
}

.custom-drawer {
  width: initial;
}

.custom-button {
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 5px;
}

.speech-sentence {
  margin: 0 0 10px;
  /*text-transform: lowercase;*/
  text-decoration: underline rgba(0, 0, 0, 0.2);
  line-height: initial;
  font-size: 120%;
  font-weight: 700;
}

.page-content.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.legend-title {
  padding-bottom: 5px;
  font-size: 90%;
  font-weight: 500;
  overflow: hidden;
}

.legend-descr {
  padding-bottom: 5px;
  font-size: 90%;
  overflow: hidden;
}


.legend-scale {
  display: flex;
  flex-wrap: wrap;
}

.legend-scale p {
  flex-grow: 1; 
  margin: 5px;
  text-align: center;
  font-size: 80%;
  font-weight: 700;
}

.legend-scale p:first-child {
  color:#ff3d00;
}

.legend-scale p:nth-child(2) {
  color: #ffa726;
}

.legend-scale p:nth-child(3) {
  color: #7cb342;
}

.legend-scale p:last-child {
  color: #1b5e20;
}