body {
  font-family: 'Roboto', sans-serif;
}

.custom-grid {
  max-width: 90%;
}

.page-content {
  padding: 25px;
  height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
}

.custom-drawer {
  width: initial;
}

.custom-button {
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 5px;
}

.speech-sentence {
  margin: 0 0 10px;
  text-transform: lowercase;
  line-height: initial;
}

.speech-sentence::first-letter {
  text-transform: uppercase;
}